ion-content {
    --background: #d0e0e7;
}

ion-toolbar {
    height: 14%;
    --background: #607d8b;
}

.logo {
    height: 90px;
    transform: translate(0px, 5px);
}

.main-card {
    --background: #d0e0e7;
    box-shadow: none;
    width: 70%;
    padding: 1%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.info {
    --color: #13c6bc;
    font-size: 13px;
    --background: rgba(80, 83, 92, 0.247);
}

.signin {
    font-size: 17px;
    --color: #526b8b;
    border-color: #13c6bc;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: none;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.register {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    color: rgba(58, 73, 99, 0.795);
}

.signup {
    font-size: 17px;
    --color: #526b8b;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: none;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

ion-card {
    --background: #31353d;
    margin-top: 5px;
    margin-bottom: 10px;
}

.logincircles {
    width: 100%;
    height: 700px;
    transform: translate(-10px, -40px);
}
