ion-content {
    --background: #d0e0e7;
}

ion-toolbar {
    height: 14%;
    --background: #607d8b;
}
.name {
    --background: #d0e0e7;
}

.logo {
    height: 90px;
    transform: translate(0px, 5px);
}

.sign-button {
    --background: #31353d;
    height: 55px;
    width: 10%;
    margin-right: 20px;
}
//////////////

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: #6e848f;
    margin-bottom: -7px;
    margin-top: -10px;
}

ion-label {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight:bold;
  
}

ion-item h2 {
    font-weight: 600;
    margin: 0;
}

ion-item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
}

ion-title {
    color: #31353d;
}

.nav-card {
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    --background: #607d8bb7;

    .nav-items {
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 60% 0% 60% 0%;
        --background: #607d8b6c;
    }

    .h {
        padding-left: 30px;
    }
}

.title-card {
    --background: #2e434e;
    width: 60%;
    --color: #ffffff;
    text-align: center;
    font-size: 24px;
}

.profile-card {
    --background: #7c929ec9;
    width: 60%;
    height: 395px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
ion-input{
    --background: #49627025;
}

ion-card-subtitle{
    margin-bottom: 10px;
    --color: #f8f7f7;
}
.submit-button{
    --background: #213b49b4;
    
    width: 20%;
}
.nav-profile{
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 60% 0% 60% 0%;
    --background: #33454ec4;   
}


