<ion-content [fullscreen]="true" slot="fixed">
  <!--
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
-->
  <ion-toolbar>
    <ion-title slot="start" class="logo">
      <img src="../assets/icon/nabeeh-logo.png" tappable (click)="mainpage()">
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="mainpage()">
        Main Page
      </ion-button>
      <ion-button (click)="services()">
        Our Servises
      </ion-button>
      <ion-button (click)="about()">
        About Us
      </ion-button>
      <ion-button (click)="contact()">
        Contact Us
      </ion-button>
    </ion-buttons>

    <ion-button (click)="signout()" slot="end" class="sign-button">
      Sign Out
    </ion-button>

  </ion-toolbar>

  <ion-header>
    <ion-toolbar class="name">
      <ion-title *ngIf="empData"><strong>Welcome, </strong> {{ empData.fname }} {{ empData.lname }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>

      <ion-col size="2">
        <ion-card class="nav-card">
          <ion-item class="nav-items" tappable (click)="info()">
            <h2 class="h">
              <ion-icon name="people-outline"></ion-icon> Users
            </h2>
          </ion-item>
          <ion-item class="nav-items" tappable (click)="permits()">
            <h2 class="h">
              <ion-icon name="navigate-outline"></ion-icon> Permits
            </h2>
          </ion-item>
          <ion-item class="nav-items" tappable (click)="reports()">
            <h2 class="h">
              <ion-icon name="podium-outline"></ion-icon> Reports
            </h2>
          </ion-item>
          <ion-item class="nav-profile" tappable (click)="profile()" [detail]="true">
            <h2 class="h">
              <ion-icon name="person-outline"></ion-icon> Profile
            </h2>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="10">
        <ion-card class="title-card">
          <ion-card-header>
            My Profile
          </ion-card-header>
        </ion-card>

        <ion-card class="profile-card">
          <ion-card-subtitle>please fill all the form before update.</ion-card-subtitle>

          <form [formGroup]="empForm" (ngSubmit)="onSubmit(empForm.value)" *ngIf="empData">

            <div class="form-group">

              <ion-label style="color: #30434e;" position="fixed">First Name:</ion-label>
              <ion-input style="color: #fdfdfd; " type="text" formControlName="fname" class="form-control"
                [(ngModel)]="emp_fname" placeholder="{{empData.fname}}"></ion-input>
              <div *ngFor="let validation of validation_messages.fname">
                <mat-error
                  *ngIf="empForm.get('fname').hasError(validation.type) && (empForm.get('fname').dirty || empForm.get('fname').touched)">
                  {{validation.message}}</mat-error>
              </div>
            </div>

            <div class="form-group">

              <ion-label style="color: #30434e;" position="stacked">Last Name:</ion-label>
              <ion-input style="color: #fdfdfd;" type="text" formControlName="lname" class="form-control"
                [(ngModel)]="emp_lname" placeholder="{{empData.lname}}"></ion-input>
              <div *ngFor="let validation of validation_messages.lname">
                <mat-error
                  *ngIf="empForm.get('lname').hasError(validation.type) && (empForm.get('lname').dirty || empForm.get('lname').touched)">
                  {{validation.message}}</mat-error>
              </div>
            </div>
            <div class="form-group">

              <ion-label style="color: #30434e;" position="stacked">National ID:</ion-label>
              <ion-input style="color: #fdfdfd;" type="text" formControlName="nid" class="form-control"
                [(ngModel)]="emp_nid" placeholder="{{empData.nid}}"></ion-input>

              <div *ngFor="let validation of validation_messages.nid">
                <mat-error
                  *ngIf="empForm.get('nid').hasError(validation.type) && (empForm.get('nid').dirty || empForm.get('nid').touched)">
                  {{validation.message}}</mat-error>
              </div>
            </div>
            <div class="form-group">

              <ion-label style="color: #30434e;" position="stacked">Email:</ion-label>
              <ion-input style="color: #fdfdfd;" type="text" formControlName="email" class="form-control"
                [(ngModel)]="emp_email" placeholder="{{empData.email}}" readonly="true"></ion-input>

            </div>
            <div class="form-group">

              <ion-label style="color: #30434e;" position="stacked">Phone number:</ion-label>
              <ion-input style="color: #fdfdfd;" type="text" formControlName="phone" class="form-control"
                [(ngModel)]="emp_phone" placeholder="{{empData.phone}}"></ion-input>
              <div *ngFor="let validation of validation_messages.phone">
                <mat-error
                  *ngIf="empForm.get('phone').hasError(validation.type) && (empForm.get('phone').dirty || empForm.get('phone').touched)">
                  {{validation.message}}</mat-error>
              </div>
            </div>

            <div>
              <ion-button class="submit-button" type="submit">Update</ion-button>
            </div>
          </form>

        </ion-card>

      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>