<ion-content fullscreen slot="fixed" >


  <!-- background images -->
  <div class="backgroundlogin">
    <img src="../assets/icon/backgroundlogin.png">
  </div>


  <!-- UI components -->

  <ion-card shape="round">
  <ion-item class="info">
    <ion-label position="floating">Enter Your Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  </ion-card>

  <ion-card shape="round">
  <ion-item class="info">
    <ion-label position="floating">Enter Your Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  </ion-card>

  <div>
    <ion-button class="signin" shape="round" fill="outline" (click)="login()" > SginIn </ion-button>
  </div>
  <div style="text-align: center; padding-top: 10px;" >
    <a style="color: #03031a;" (click)="btnclick()" routerLink="/forgot-password" >Forgot Pasword?</a>
  </div>


  <section class="sec1">
    <p class="register"> Not registered yet? </p>
    <ion-button class="signup" shape="round" fill="outline" (click)="btnclick()" routerLink="/signup"> SginUp
    </ion-button>
  </section>


  <!-- background images -->
  <div class="logincircles">
    <img src="../assets/icon/circles.png">
  </div>


</ion-content>